In [1]:
import requests
import bs4

In [9]:
# make the http request and turn the reponse into a beautiful soup object

response = requests.get('https://web-scraping-demo.zgulde.net/news')
html = response.text
soup = bs4.BeautifulSoup(html)

In [12]:
article_container = soup.select('.grid.gap-y-12')[0]

In [14]:
articles = article_container.children

In [17]:
len(article_container.select('.grid.grid-cols-4.gap-x-4.border'))

12

In [20]:
articles = article_container.select('.grid.grid-cols-4.gap-x-4.border')

In [22]:
article = articles[0]
# get a pretty printed represenation of our element
print(article.prettify())

<div class="grid grid-cols-4 gap-x-4 border rounded pr-3 bg-green-50 hover:shadow-lg transition duration-500">
 <img src="/static/placeholder.png"/>
 <div class="col-span-3 space-y-3 py-3">
  <h2 class="text-2xl text-green-900">
   act debate believe
  </h2>
  <div class="grid grid-cols-2 italic">
   <p>
    2013-07-16
   </p>
   <p class="text-right">
    By Jillian Fitzpatrick
   </p>
  </div>
  <p>
   Big court marriage affect add attention me. Southern share yard find social thousand large respond.
Record box thousand receive area. Continue hotel staff song just ball somebody eat. Life bank figure wife work audience site.
  </p>
 </div>
</div>

In [24]:
title = article.find('h2').text

In [46]:
title = article.find('h2').text
date_and_byline_div = article.select('.grid.grid-cols-2.italic')[0]

In [47]:
date_p, by_p = date_and_byline_div.find_all('p')
date_p.text

' 2013-07-16 '

In [48]:
by_p

In [45]:
summary = article.find_all('p')[-1].text

In [52]:
def process_article(article):
    
    title = article.find('h2').text
    date_and_byline_div = article.select('.grid.grid-cols-2.italic')[0]
    date_p, by_p = date_and_byline_div.find_all('p')
    summary = article.find_all('p')[-1].text

    return {
        "title": title,
        "date": date_p.text,
        "by": by_p.text,
        "summary": summary

        }

In [53]:
process_article(articles[3])

{'title': 'choose factor help',
 'date': ' 1971-01-02 ',
 'by': 'By Matthew Price ',
 'summary': 'High attack ask build year. Away share different car method answer skin.\nPull huge range prevent card. Black bad case.'}

In [54]:
import pandas as pd

pd.DataFrame([process_article(article) for article in articles])

,title,date,by,summary
0,act debate believe,2013-07-16,By Jillian Fitzpatrick,Big court marriage affect add attention me. So...
1,box eye example,1970-11-29,By Casey Spencer,Key least actually staff. He perform rest sort...
2,role when century,1999-10-17,By Kelly Shaffer,Top successful open week perform impact off. O...
3,choose factor help,1971-01-02,By Matthew Price,High attack ask build year. Away share differe...
4,reveal follow environmental,1987-06-02,By Brittany Ramirez,Security out check before share receive you. R...
5,usually sister citizen,1995-01-06,By Anna Dean,Leg wear most entire seem front. Company organ...
6,continue company expert,2006-07-16,By Emily Atkins,Show employee government. Before so image. Typ...
7,the my drop,2003-09-19,By Anthony Harrison,Soon him stay better station no. Country ago b...
8,ball suffer claim,2012-02-17,By Joshua Sullivan,Success now inside push off bring. Business fr...
9,firm window blue,1990-05-02,By Joanna Shaw,Authority bit decision race. Budget wrong fami...
10,guy American alone,1995-11-04,By Timothy Henson,Stop individual behind candidate. Middle growt...
11,century meet him,1991-11-10,By Jason Moore,Himself Republican sell. Campaign pretty low i...